<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!--<script language="javascript">
      function showPopup() {window.open("./popup.html", "popup", "width=400, height=300, left=100, top=50");
         }
    </script>-->
  </head>
  <body>
    <div style="text-align:center;">
      <h1>독립 청구항과 종속 청구항 분류</h1>
      <div style="width:300px; border:1px solid black; margin:auto; padding:300px;">
        <form action="file" method="post" enctype="multipart/form-data">
          <input type="file" name="patent">
          <input type="submit" onclick="moveClose();">
        </form>
          <!--<input type="button" value="파일 추가하기" onclick="showPopup();" />-->
      </div>
    </div>
  </body>
</html>
